body{
    background: #e6e6e6;
}
.container{
    display: flex;
}

.container-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.logo{
    width: 65%;
    margin-top: 35%;
}

.para{
    font-size: 135%;
    margin-left: 7%;
    margin-top: -3%;
}

.container-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 13%;
    
}
.form {
	height: 100%;
	width: 77%;
	background: white;
	margin-left: 10%;
	padding: 2% 4% 5%;
    margin-bottom: 1rem;
    box-shadow: 10px 30px 40px rgba(0,0,0,.1);
    border-radius: 10px;
}
.form > form {
    display: flex;
    flex-direction: column;
}
.email {
	margin-top: 2%;
	padding: 16px 10px;
}
.password {
	margin-top: 4%;
	padding: 16px 10px;
}
.button1{
    background-color: #1877f2;
    margin-top: 1rem;
    padding: 16px 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}
.forgot-password {
	text-align: center;
	padding: 10px 0;
    font-size: 15px;
    text-decoration: none;
}
hr{
    color: rgb(243, 236, 236);
    width: 100%;
}
.button2 {
	background-color: #42b72a;
    margin-top: 1rem;
	padding: 16px 5px;
    width: 55%;
    margin-left: 22%;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    font-size: 17px;
}

.para2{
    font-size: 40%;
    margin-left: 6rem;
}
